

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

header{
	width:100%;
	
	height:100vh;
	background:url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
	background-size:cover;
}

nav{
	width:100%;
	height:100px;
	
	color:#fff;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.logo{
	font-size:2em
	letter-spacing:2px;
}

.menu a{
	text-decoration:none;
	color:#fff;
	padding:10px 20px;
	font-size:20px;
	
	
}
	
.register a{
	text-decoration:none;
	color:#fff;
	padding:10px 20px;
	font-size:20px;
	border-radius:8px;
	background:indianred;
}
.register a:hover{
	border:1px solid  indianred;
	background:transparent;
}

.h-text{
	position:absolute;
	top:40%;
	left:35%;
	max-width:650%;
	transform:translate (-50%,-50%);
	text-align:center;
	color:#fff;
}

	
.h-text span{
	letter-spacing:5px;
	font-size:30px;
	
}


.h-text h1{
	font-size:3.5em
}
	
	
.h-text a{
	text-decoration:none;
	background:indianred;
	padding:10px,20px;
	color:#fff;
	letter-spacing:5px;
	font-size:20px;
	
}
	
.h-text a:hover{
	border:1px solid  indianred;
background:transparent;
}