body {
  background-color:yellow;
}
h1{
	color:red;background-color:skyblue;
}
h2{
  color:red;background-color:skyblue;
}
h3{
	color:red;background-color:skyblue;
}
p {
color:blue;
}	
table{
	color:red;background-color:skyblue;
}
nav{
	color:red;background-color:skyblue;
}

ul{
	color:red;
}

